<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>329993534670-2nh542k8l0g5ottdbabn1bvikrl2iqna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329993534670-2nh542k8l0g5ottdbabn1bvikrl2iqna</string>
	<key>API_KEY</key>
	<string>AIzaSyDVfjY3aKfpRKjuWwFXhCJR5D_zwFnPm-k</string>
	<key>GCM_SENDER_ID</key>
	<string>329993534670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rogerflorat.TravelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-f348a</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-f348a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329993534670:ios:d09c074a82827535</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-f348a.firebaseio.com</string>
</dict>
</plist>